html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
  box-sizing: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: 1884px;
  padding: 0 82px;
  margin: 0 auto;
}

#btn-mobile,
.contact__btn-2 {
  display: none;
}

/*       HEADER       */
.header {
  height: 100vh;
  background: url(../img/header.webp) center / cover no-repeat;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.logo__img {
  width: 160px;
  height: 52px;
}

.menu {
  display: flex;
  /* align-items: flex-end; */
  border-radius: 50px;
  border: 1px solid #fff;
  border-bottom: 0;
  background: rgb(199 214 255 / 70%);
  background-blend-mode: soft-light;
  backdrop-filter: blur(35px);
  margin: 4px 0;
}

.menu__list {
  display: flex;
  justify-content: center;
  padding: 0 17px;
  align-items: center;
  gap: 16px;
}

.menu__list-item {
  font-size: 16px;
  font-weight: 400;
  padding: 12px 0;
}

.menu__link:hover,
.menu__link:active {
  border-radius: 20px;
  padding: 10px;
  background: #fff;
  transition: all 0.2s ease-in-out;
}

.contact__btn, 
.contact__btn-2 {
  padding: 16px 24px;
  border-radius: 50px;
  background: #2a2a2a;
  background-blend-mode: darken;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.contact__btn:hover,
.contact__btn-2:hover {
  border-radius: 50px;
  background: #001b97;
  background-blend-mode: darken;
  transition: all 0.2s ease-in-out;
}

.contact__btn:visited,
.contact__btn-2:visited {
  border-radius: 50px;
  background: #314087;
  background-blend-mode: darken;
  transition: all 0.2s ease-in-out;
}
/*      END HEADER       */

/*       HERO      */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-top: -84px;
}

.intelligent,
.business,
.growth {
  color: #fff;
  font-size: 100px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 12px;
  text-align: center;
}

.intelligent {
  text-align: left;
}

.business {
  text-align: center;
  margin-top: 63px;
  margin-bottom: 63px;
}

.growth {
  text-align: right;
}

/*      END HERO      */

/*      MAIN      */
.main__content {
  padding-top: 136px;
  color: #2a2a2a;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.text-blue {
  padding: 0px 2px;
  border-radius: 10px;
  background: #5a6cc0;
  color: #fff;
}

.title {
  padding: 136px 0px 80px 0px;
  color: #2a2a2a;
  font-size: 40px;
  font-weight: 250;
  line-height: normal;
  text-transform: uppercase;
}

/*     OUR VALUES     */
#values {
  height: 703px;
  /* background-image: url(../img/curve-4k.png); */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
/*     END VALUES     */

/*     OUR BUSINESS LINES    */
.tabs-block-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
}

#tabs {
  display: flex;
  margin-bottom: -2px;
}

.tab-btn {
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0px 30px 58px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.tab-btn.active {
  background-color: #e8ecf9;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#contents {
  max-width: 100%;
  width: 100%;
  min-height: 840px;
  border-radius: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
}

.content {
  border-radius: 0 0 30px 30px;
  background-color: #e8ecf9;
  background-image: url(../img/curve-values.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
}

.content.active {
  display: block;
}

#contents [data-content="1"] {
  border-top-right-radius: 30px !important;
}

#contents [data-content="2"] {
  border-radius: 30px !important;
}

#contents [data-content="3"] {
  border-top-left-radius: 30px !important;
}

.content__title {
  color: #2a2a2a;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.content__subtitle,
.content__subtitle-bottom {
  display: flex;
  justify-content: center;
  color: #2a2a2a;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  padding: 40px 0px 32px 0px;
}

.content__subtitle-bottom {
  padding: 16px 0px 24px;
}

/*     ACCORDEON   */
.accordion,
.accordion__digital {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.accordion__digital {
  padding: 20px 0px 60px;
  align-items: center;
}

.accordion-title {
  color: #fff;
  width: 363px;
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 12px;
  background: #5a6cc0;
  margin-bottom: 20px;
  border-radius: 30px;
}

.accordion-item {
  margin-bottom: 20px;
}

.accordion-item--active .accordion-item-triger {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #fff;
}

.accordion-item--active .accordion-item-content {
  display: block;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

.accordion-item-triger {
  display: flex;
  align-items: center;
  gap: 9px;
  width: 363px;
  height: 86px;
  color: #2a2a2a;
  background: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  border-radius: 30px;
  box-shadow: 0px 2px 5px rgba(90, 108, 192, 0.5);
  cursor: pointer;
}

.accordion-item-content {
  width: 363px;
  padding: 0 16px 16px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(93, 151, 227, 0.15);
  color: #2a2a2a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: none;
}

.accordeon__item {
  margin-bottom: 10px;
}

.accordion__title-img,
.content__body-processese-img,
.content__body-processese-img {
  display: inline;
}

.accordion-title {
  width: 363px;
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 12px;
  background: #5a6cc0;
  margin-bottom: 20px;
  border-radius: 30px;
}

.accordion-item {
  margin-bottom: 20px;
}

.accordion-item--active .accordion-item-triger {
  padding: 16px 16px 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #fff;
}

.accordion-item--active .accordion-item-content {
  display: block;
  background-color: #fff;
}

.accordion-item-triger {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 9px;
  width: 363px;
  height: 86px;
  color: #2a2a2a;
  background: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  border-radius: 30px;
  cursor: pointer;
}

.accordion-item-triger:hover {
  background-color: #bcc2dc;
}

.accordion-item-content {
  width: 363px;
  padding: 0 16px 16px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(93, 151, 227, 0.15);
  color: #2a2a2a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: none;
}

/*     END ACCORDEON   */

/*     STAGE   */
.content__body {
  display: flex;
  flex-direction: column;
}

.content__body-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.content__body-stage-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 72px 0;
  position: relative;
}

.content__body-stage-wrapper::before {
  content: "";
  background-image: url(../img/arrow.svg);
}

.content__body-stage-company {
  width: 120px;
  color: #5a6cc0;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.content__body-wrapper-bottom {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.content__body-processes {
  display: flex;
  width: 322px;
  padding: 8px;
  gap: 8px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(93, 151, 227, 0.15);
  color: #2a2a2a;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  align-items: center;
  text-transform: uppercase;
}

.content__body-stage {
  width: 132px;
  padding: 12px;
  gap: 8px;
  border-radius: 10px;
  background: #5a6cc0;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

/*     END STAGE   */

/*     DEVELOPMENT  */
.development {
  display: flex;
  justify-content: space-around;
  padding: 8px 12px;
  align-items: center;
  flex-wrap: wrap;
}

.development__step {
  display: flex;
  align-items: center;
  gap: 19px;
  width: 363px;
  height: 86px;
  color: #2a2a2a;
  background: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 30px;
  margin-bottom: 18px;
}

.development__step span {
  border-radius: 30px 0px 0px 30px;
  padding: 24px;
  margin-right: 10px;
  background: #5a6cc0;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.development__title {
  margin: 66px 0px 24px;
  color: #2a2a2a;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.tabs-block__development-wrapper {
  width: 95%;
  margin: 0 auto;
}

#tabs__development {
  display: flex;
  padding: 16px 32px 16px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  background: #fff;
  margin-bottom: 7px;
}

.tab-btn__development {
  height: 100%;
  color: #2a2a2a;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  border: none;
  cursor: pointer;
}
.tab-btn__development.active {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  gap: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  border-radius: 30px;
  background: #5a6cc0;
}

#contents__development {
  max-width: 100%;
  width: 100%;
  border-radius: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  padding-bottom: 30px;
}

.content__development {
  display: none;
}

.content__development.active {
  display: block;
}

.content__development-wrapper {
  display: flex;
  padding: 20px;
  gap: 10px 20px;
  border-radius: 50px;
  background: #fff;
}

.content__development-item {
  width: 100%;
}

.content__development-item-title {
  color: #2a2a2a;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}

.content__development-item-body {
  color: #2a2a2a;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

/*     END DEVELOPMENT   */
/*     END OUR BUSINESS LINES    */

/*     OUR CASES    */
#cases {
  padding-bottom: 136px;
}
/*     END OUR CASES    */
/*     END MAIN      */

/*      FOOTER     */
#footer {
  padding: 20px 0;
  border-radius: 50px;
  background: linear-gradient(94deg, #7e95ff -5.52%, #45549b 105.44%), #5a6cc0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 38px;
}

.footer__logo-mobile,
.footer__logo-title {
  display: none;
}

.footer__social-link-ln,
.footer__social-link-fb {
  height: 40px;
  width: 40px;
}

.footer__social-link-ln {
  background-image: url(../img/footer/in.svg); 
}
.footer__social-link-ln:hover {
  background-image: url(../img/footer/in_hover.svg);
  transition: all 0.2s ease-in-out;
}
.footer__social-link-ln:active {
  background-image: url(../img/footer/in_pressed.svg);
  transition: all 0.2s ease-in-out;
}

.footer__social-link-fb {
  background-image: url(../img/footer/fb.svg); 
}
.footer__social-link-fb:hover {
  background-image: url(../img/footer/fb_hover.svg);
  transition: all 0.2s ease-in-out;
}
.footer__social-link-fb:active {
  background-image: url(../img/footer/fb_pressed.svg);
  transition: all 0.2s ease-in-out;
}

.contacts__title {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 20px;
}

.contacts__list-item {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 15px;
}

.contacts__list-item:hover {
  color: #001b97;
  transition: all 0.2s ease-in-out;
}

.contacts__list-item-img {
  display: inline;
  vertical-align: sub;
  margin-right: 8px;
}

form {
  width: 605px;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  color: #d5d8e6;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  overflow: hidden;
}

input::placeholder,
textarea::placeholder {
  color: #bcc2dc;
  text-wrap: nowrap;
  overflow: hidden;
}
textarea::placeholder {
  text-overflow: ellipsis;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.form-group input {
  width: 48%;
}

textarea {
  resize: none;
}

.btn__message {
  border-radius: 30px;
  background: #2a2a2a;
  background-blend-mode: darken;
  padding: 16px 24px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.btn__message:hover {
  border-radius: 50px;
  background: #001b97;
  background-blend-mode: darken;
  transition: all 0.2s ease-in-out;
}
/*      END FOOTER      */

/*      POP-UP      */
.pop-up {
  display: none;
  position: fixed;
  inset: 0;
  padding: 20px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.pop-up form {
  position: relative;
  margin: auto;
  width: 685px;
  padding: 48px;
  border-radius: 50px;
  background: #5a6cc0;
  cursor: default;
}

.pop-up input,
.pop-up textarea {
  margin-bottom: 24px;
}
/*     END  POP-UP      */

@media (max-width: 1683px) {
  .accordion-title,
  .accordion-item-triger,
  .accordion-item-content {
    width: 275px;
  }
}

/*     1440      */
@media (max-width: 1440px) {
  .container {
    max-width: 1425px;
  }
  #values {
    height: 647px;
    /* background-image: url(../img/curve.png); */
  }

  .accordion-title,
  .accordion-item-triger,
  .accordion-item-content {
    width: 220px;
  }
}
